<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Test Resultat</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<p th:text="'SUPER, du hast die Applikation'"/>

<p th:text="${how}"/>
<p th:text="' getestet!'"/>
<p th:text="${lettertext}"/>
<p th:text="${letter}"/>

<p th:text="'Die Rabattkarten-App gibt '"/>
<p th:text="${discountType}"/>
<p th:text="' zurück.  '" />

<p th:text="'Dein erwartetes Resultat war  '" />
<p th:text="${result}"/>


<!--<p th:text="'Somit ist dein Test'" />
<p th:text="${isTestTrue}"/>-->

<a href="/discountCheck">zurück</a>
</body>
</html>