<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SPITZE!!!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'SUPER, du hast einen Fehler entdeckt!!'"/>


<p th:text="'Der Buchstabe für das Codwort lautet'"/>
<p th:text="${letter}"/>

<p th:text="'Die Rabattkarten-App gibt'"/>
<p th:text="${discountType}"/>
<p th:text="' zurück.  '" />

<p th:text="'Dein erwartetes und das korrekte Resultat war  '" />
<p th:text="${result}"/>

<!--<p th:text="'Somit ist dein Test'" />
<p th:text="${isTestTrue}"/>-->

<a href="/discountCheck">zurück</a>
</body>
</html>