<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Test Resultat</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Das Dreieck wurde als'"/>
<p th:text="${dreiecksTyp}"/>
<p th:text="' klassifiziert.  '" />

<p th:text="'Dein erwartetes Resultat war  '" />
<p th:text="${result}"/>


<a href="/dreiecksCheck">zurück</a></body>
<!--<p th:text="'Somit ist dein Test'" />
<p th:text="${isTestTrue}"/>-->

</body>
</html>