<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SPITZE!!!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'SUPER, du hast einen Fehler entdeckt!!'"/>
<p th:text="'Das Dreieck wurde als'"/>
<p th:text="${dreiecksTyp}"/>
<p th:text="' klassifiziert.  '" />

<p th:text="'Dein erwartetes Resultat war  '" />
<p th:text="${result}"/>

<p th:text="'Aber weil a=b=c, sollte das Dreieck als GLEICHSEITIG klassifiziert werden.'" />

<p th:text="'Der Buchstabe für das Codwort lautet'"/>
<p th:text="${letter}"/>

<!--<p th:text="'Somit ist dein Test'" />
<p th:text="${isTestTrue}"/>-->

<a href="/dreiecksCheck">zurück</a>
</body>
</html>