<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hoppala!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h3>HOPPALA</h3>

<p th:text="'Irgendwas ist schief gegangen!'"/>

<a href="/index">zurück</a></body>
</body>
</html>