<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ungültige Werte getestet!!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'SUPER, du hast die Applikation mit '"/>

 <p th:text="${how}"/>
<p th:text="' getestet!'"/>
<p th:text="'Der Buchstabe für das Codwort lautet'"/>
<p th:text="${letter}"/>


<a href="/dreiecksCheck">zurück</a></body>
</body>
</html>