<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ungültige Werte getestet!!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Du hast die Applikation mit '"/>

 <p th:text="${how}"/>
<p th:text="' getestet, aber das falsche Resultat gewählt!'"/>

<a href="/dreiecksCheck">zurück</a></body>
</html>